<%- include('./partials/header'); %> 
    <h2>Compose Post</h2>
    <div class="composePost-wrapper">
        <form action="/compose" method="post">
            <div class="mb-3 form-group">
                <label for="composeText_title" class="form-label">Title</label>
                <input type="text" class="form-control" id="composeText_title" name="composeText_title">
                <label for="composeText">Content</label>
                <textarea class="form-control" name="composeText_content" id="composeText" cols="30" rows="5"></textarea>
            </div>
            <button type="submit" name='post' class="btn btn-primary" value="##">Post</button>
        </form>
    </div>
<%- include('./partials/footer'); %> 



