<%- include('./partials/header'); %> 
    <h2>Compose Post</h2>
    <div class="composePost-wrapper">
        <form action="#" method="post">
        <input type="text" name="composeText" id="composeText">
        <button type="submit" name='post' value="##">Post</button>
        </form>
    </div>
<%- include('./partials/footer'); %> 
