<%- include('./partials/header'); %> 

    <div class="contact_div">
        <h3 class='contact'>Martin Titus Sowa</h3>
        <p class='contact'>Email : sowam57@gmail.com</p>
        <p class='contact'>LinkedIn : <a class='contact' href="www.linkedin.com/mt-sowa">www.linkedin.com/mt-sowa</a> </p>
    </div>
   
<%- include('./partials/footer'); %> 