<%- include('./partials/header'); %> 
    <h1>Home Page</h1>
    <p><%= homeStartingContent %> </p>
    <hr>
    <div class="posts">
        <% console.log(Posts) %> 
    </div>
<%- include('./partials/footer'); %> 
