<%- include('./partials/header') %>

<div class="nocontent">
    <h3>SORRY!! THERE IS NO SUCH CONTENT.</h3>
    <p>Visit <a href="/allposts">POSTS</a> to view all posts. Thank you!</p>
</div>



<%- include('./partials/footer') %> 